/*MODULE BASIC*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    /* margin: 0 auto;  Center horizontally  but but but as  in later part of the css, .c{margin-left and margin-right was set to 0.5em}, so this auto was overwritten and hence didn't work} */
    
}

.c {
  
    max-width: 1800px;
    margin-left: auto; /*to overwrite it, you have to explicitly write margin-left whrere needed. shorthand margin wont work*/
    margin-right: auto; /* Center horizontally -- margin-left and margin-right equal auto */
    /* auto is a keyword that tells the browser to automatically calculate a value based on the available space or content */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* border: 1px solid red; */
}











/*MODULE LANDING PAGE*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-name {
    font-size: 1.5rem;
    font-weight: bold;
    transition: font-style 0.2s;
}
.site-name:hover {
    color: #0055f8;
    font-style: italic;
}
.header .nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
}
.header .nav-links a {
    padding: 0.5em;
    transition: font-style 0.2s;
    font-size: 1.2rem;
    color: #555;
}
.header .nav-links a:hover {
    background-color: #0055f8;
    font-style: italic;
    color: white; 
    border-radius: 5px;
}





/* Center the hero section vertically and horizontally */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

.hero-inner {
    max-width: 800px; /*hero is need to be width less with high padding*/
    /* background-color: #0055f8; note this color will only be reflected in this particularsclass, will not be reflected in the child classes. it happens with element selectors ig. */

}

.hero-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0em;
   
}

/* Style for the hero tagline */
.hero-text {
    font-size: 1.2rem;
    color: #555;
    margin-top: 0em;
    padding-top: 0em;
   

    /* max-width: 45ch; //max-width add kora matro flex er subidha haraba */
}

.makeItBlue
{
    color: #0055f8;
}


.engageBtn
{   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

.makeBgWhite
{
    background-color: white;
}


/*MODULE LOGIN AND SIGNUP PAGE*/
.halfhalfcontainer {
    display: flex;
    height: 100vh;
  }
  
  .left-half {
    width: 50%;
    background-color: #f0f0f0;
  }
  
  .left-half img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .right-half {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form {
    width:25%;
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 1rem;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  

/* MODULE DASHBOARD */
/* Container for the items to be placed in a row */
.row-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    gap: 1em;                     
    margin-bottom: 1em;
    /* height: 100px;                  */
  }
  
  .course-select {
    flex-basis: 20%;
  }
  
  .topic-select {
    flex-basis: 20%;
  }
  
  .description-input {
    flex-basis: 50%;
  }
  
  .start-button {
    flex-basis: 10%;
  }
  
  /* all elements stretch to 100% of their parent container */
  .item select, .item input, .item button {
    width: 100%;
    height: 50px; /* Optional: You can adjust the height to ensure they are equal */
  }
 




/*MODULE MEDIA QUERY*/
/* 3xl */
@media (max-width: 1800px) {
    .c {
        max-width: 1536px;
    }
}

/* 2xl */
@media (max-width: 1536px) {
    .c {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .c {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .c {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .c {
        max-width: 640px;
    }
}

/* sm */
@media (max-width: 640px) {
    .c {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .c {
        width: 100%;
    }
}