{% extends 'base.html' %}


{% block body %}

<h3> Hello {{username}}, you are logged in! </h3>
<a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{% url 'logout' %}">Logout</a>

<br></br>

{% comment %} {% include "partials/timerbox.html" %} {% endcomment %}

Select Course:
<select id ='courseSelect' class="custom-select mb-4" name="courseSelect"
    hx-get="{% url 'getTopics' %}"
    hx-trigger="change"
    hx-target="#topic-dropdown-div">

    <option value="" selected>Unselected</option>
    {% for course in courses %}
        <option value="{{course.pk}}">{{ course.name }}</option>
    {% endfor %}
</select> 


<div id="topic-dropdown-div">
    {% include 'partials/topics.html' %} 
    {% comment %}  template tag used in Django templates to include the content of another template file within the current template.
    also the context sent in this page is also avaiable in the included partial page. {% endcomment %}
</div> 


 
<input id="sessionDescription" placeholder="Session Description" type="text">

<br><br>

<button hx-trigger="click" type="submit" id="startTimerButton" hx-get="/startTimerClicked/" hx-target="#startTimerButton" hx-swap="outerHTML" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Start Tracking</button>



<div id = "trackedTime" hx-select="#onlyEntries2" hx-get="/endTimerClicked/renderEntry/" hx-trigger="renderEntryzz from:body, load" hx> 
    {% comment %} from:html also works  {% endcomment %}
    {% comment %} hx-trigger="renderEntryzz from:body" means that this action should be triggered WHEN an event (called renderEntryzz) is detected within the body of the HTML document. {% endcomment %}
    {% comment %} https://htmx.org/docs/#:~:text=from%3A%3CCSS%20Selector%3E%20%2D%20listen%20for%20the%20event%20on%20a%20different%20element.%20This%20can%20be%20used%20for%20things%20like%20keyboard%20shortcuts. {% endcomment %}
    {% comment %} so basically hx-trigger specifies when something (the item itself OR FROM A DIFFERENT PART OTHER THAN WHERE IT IS WRITTEN. FOR THE 2ND CASE, YOU NEED FROM:CSS SELECTOR ) is changed/ triggered/ happened/ listened (as defined in hx-trigger),
    htmx will issue a request as defined and the response will be processed at wherever hx-select points to   {% endcomment %}
    {% comment %} how renderEntryzz was triggered? check out stop_timer view {% endcomment %}
    <span>
        Hello
    </span>
</div>

{% comment %} <script> 
    {% comment %} learn JS. evenListener, getElementbyId, dataset, console.log. How about saving something in a varibale?
    {% comment %} script is located at the end, in fact AFTER the element that is related. Also script might not find the content if it is dynamically changed/altered. Also script stops working at its first encounted error line unless handled with try-catch block
    document.getElementById("courseSelect").addEventListener("change", function() {
        const selectedCourse = document.getElementById('courseSelect').value; 
        document.getElementById("storedata").dataset.selectedCourse = selectedCourse;
        console.log("Selected Course: ", document.getElementById("storedata").dataset.selectedCourse);
      });
</script>
<script>console.log("HEY")</script> {% endcomment %}

{% endblock %}