{% extends 'base.html' %}


{% block body %}

<b>Welcome to Your Dorm, Your Second Home</b>

<a href=" {% url "signup" %}" class=" text-white relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"> Sign Up </a>
<a href="{% url "login" %}" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800"> Log In </a>
</br>
<p>Dormitory Network is a time-tracking webapp to neatly record your academic/work hours & generate report & insights based on the data. It also aims to connect your fellow mates studying the same majors/interests.</p>

{% endblock %}