{% extends 'base.html' %}


{% block body %}

<header class="header c">
    <div><h1 class="site-name c">DORMITORY</h1></div>
    <nav>
        <ul class="nav-links c">
            <li><a href="#">Home</a></li>
            <li><a href="#">Report</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>


<section class="hero c">
    <div class="hero-inner c">
        <h1 class="hero-title c">Your <span class="makeItBlue">Dorm</span> </br> Your Second Home</h1>
        <p class="hero-text c"><span class="makeItBlue">Dormitory</span> is a time-tracking webapp to neatly record your academic/work-hours and generate report & insights based on the data.</p>       
    </div>
</section>


<section class="engageBtn c">
    <a href="{% url "signup" %}"> <button class="mr-[0.3em] px-6 py-2 border-2 border-[#0055f8] rounded-md text-[#555] bg-transparent text-[1.3rem] hover:bg-[#0055f8] hover:text-white hover:italic transition-colors duration-200" type="button">Sign Up</button> </a>
    <a href="{% url "login" %}"> <button class="ml-[0.3em] px-6 py-2 border-2 border-[#0055f8] rounded-md text-[#555] bg-transparent text-[1.3rem] hover:bg-[#0055f8] hover:text-white hover:italic transition-colors duration-200" type="button">Log In</button> </a>
</section>

{% endblock %}