{% load static %}

<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdn.tailwindcss.com"></script> 
        <link rel="stylesheet" href="{% static '/firstApp/css/styleWObgcolor.css' %}">

        <title>Dormitory</title>
            
        </head>


<body>


    <header class="header c">
        <div><a href="{% url 'report'%}"><h1 class="site-name c">Your Report</h1></a></div>
        <nav>
            <ul class="nav-links c">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'user_profile' user.username %}">Profile</a></li>
                <li><a href="{% url 'report' %}">Report</a></li>
                <li><a href="{% url 'addCourse'%}">Add Course</a></li>
                <li><a href="{% url 'addTopic'%}">Add Topic</a></li>
                <li><a href="{% url 'active_users' %}">Active Users</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
        </nav>
    </header>



<div class="px-8 py-4">
    <h1 style="font-size: 24px;" class="p-6">Select Date Range</h1>
    <form class="p-6" id="date-range-form">
        {% csrf_token %}
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" name="start_date">
        <label for="end-date">End Date:</label>
        <input type="date" id="end-date" name="end_date">
        <button type="submit"
        hx-post="{% url 'get_bar_chart_data' %}" hx-trigger="click,load,submit" hx-target="#chart-container" hx-swap="innerHTML">Filter</button>
        {% comment %} LESSON: use hx-post instead of hx-get if you want to send HTML form data from template to backend {% endcomment %}
    </form>

    <div id="chart-container" > </div>
</div>
</body>